<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link type="text/css" rel="stylesheet" href="/static/main.css" />
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
  <!-- <link href="css/bootstrap.min.css" rel="stylesheet"> -->


  <title>Personal Blog</title>
</head>

<body>


  <a href="/blog" class="main-title">
    My Blog
  </a>

<!-- navbar -->
    <div class="blog-masthead">
        <nav class="blog-nav">
          <a class="blog-nav-item" href="/blog">Home</a>
          <a class="blog-nav-item" href="/blog/newpost">Post</a>
<!--           <a class="blog-nav-item" href="/gallery">Gallery</a> -->
        </nav>
    </div>
<!-- end of navbar -->

  <hr>

  <div class="login-area">
    {% if user %}
      {{user.name}} (<a class="login-link" href="/logout">logout</a>)
    {% else %}
      <a class="login-link" href="/login">login</a>
      |
      <a class="login-link" href="/signup">signup</a>
    {% endif %}
  </div>
  <br>

  <div id="content">
  {% block content %}

  {% endblock %}
  </div>

</body>

</html>

